[Unit]
Description=FWOS UI (Management netns)
Requires=fwos-fwd-setup.service
After=fwos-fwd-setup.service systemd-tmpfiles-setup.service fwos-netd.service
Wants=fwos-netd.service

[Container]
Rootfs=/usr/lib/fwos/addons/ui:O
Exec=/usr/bin/fwos-ui
Network=ns:/run/netns/mgmt
Volume=/var/lib/fwos:/var/lib/fwos
AddCapability=NET_BIND_SERVICE
DropCapability=ALL
PodmanArgs=--runtime=/usr/bin/crun
SecurityLabelDisable=true
User=0

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
