[Unit]
Description=FWOS Kea DHCPv6
Requires=fwos-fwd-setup.service
After=fwos-fwd-setup.service systemd-tmpfiles-setup.service
ConditionPathExists=/var/lib/fwos/kea/kea-dhcp6.conf

[Container]
Rootfs=/usr/lib/fwos/addons/kea:O
Exec=/usr/bin/run-dhcp6
Network=ns:/run/netns/fwd
Volume=/var/lib/fwos/kea:/etc/kea
AddCapability=NET_BIND_SERVICE NET_RAW
DropCapability=ALL
PodmanArgs=--runtime=/usr/bin/crun
SecurityLabelDisable=true
User=0

[Service]
Restart=on-failure
