[Unit]
Description=FWOS netd
Requires=fwos-fwd-setup.service
After=fwos-fwd-setup.service systemd-tmpfiles-setup.service

[Container]
Rootfs=/usr/lib/fwos/addons/netd:O
Exec=/usr/bin/netd
Network=ns:/run/netns/fwd
Volume=/var/lib/fwos:/var/lib/fwos
Volume=/proc/1/ns/net:/run/host-netns
AddCapability=NET_ADMIN SYS_ADMIN CHOWN
DropCapability=ALL
PodmanArgs=--runtime=/usr/bin/crun
SecurityLabelDisable=true
User=0

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
