[Unit]
Description=FWOS bootstrap UI (Management netns)
Requires=fwos-fwd-setup.service
After=fwos-fwd-setup.service systemd-tmpfiles-setup.service
ConditionPathExists=/var/lib/fwos/bootstrapped

[Container]
Rootfs=/usr/lib/fwos/addons/ui:O
Exec=/usr/bin/fwos-ui
Network=ns:/run/netns/mgmt
Volume=/var/lib/fwos:/var/lib/fwos
Volume=/etc:/etc
Volume=/home:/home
AddCapability=NET_BIND_SERVICE CHOWN FOWNER DAC_OVERRIDE SETUID SETGID AUDIT_WRITE
DropCapability=ALL
PodmanArgs=--runtime=/usr/bin/crun --uts=host
SecurityLabelDisable=true
User=0

[Service]
Restart=on-failure
