[Unit]
Description=OpenSSH server in the FWOS Management netns
After=fwos-fwd-setup.service
Requires=fwos-fwd-setup.service
Conflicts=sshd.service

[Service]
Type=simple
EnvironmentFile=-/etc/crypto-policies/back-ends/opensshserver.config
ExecStart=/usr/sbin/sshd -D $OPTIONS
NetworkNamespacePath=/run/netns/mgmt
RestrictNamespaces=no
PrivateNetwork=no
KillMode=process
Restart=on-failure
