[Unit]
Description=Create FWOS fwd and mgmt network namespaces
After=local-fs.target
Before=network-pre.target sshd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/fwos-fwd-setup

[Install]
WantedBy=multi-user.target
